[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
peewee = "*"
psycopg2-binary = "*"
python-decouple = "*"
python-twitter = "*"
scrapy = "*"

[dev-packages]
ipdb = "*"
pytest = "*"
pytest-black = "*"
pytest-mock = "*"
